@charset "UTF-8";
/*-------------Миксины----------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --background-black: #141414;
  --background-white: #FAFAFA;
  --background-semi-black: rgba(0, 0, 0, 0.5);
  --background-semi-white: rgba(240, 240, 240, 0.24);
  --roboto-font: "Roboto", sans-serif;
  --inter-font: "Inter", sans-serif;
  --font-white: #FFF;
  --font-black: #000000D9;
  --font-grey: #BFBFBF;
  --footer-grey: rgba(89, 89, 89, 1);
  --green: rgba(56, 158, 13, 0.6);
  --yellow: #FADB14;
  --size: calc(1vw + 1vh);
}

/*---------- Обнуление --------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, aside {
  display: block;
}

[inert], [inert] * {
  opacity: 0.3;
}

html, body {
  max-width: 100%;
  min-width: 350px;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  font-family: var(--roboto-font);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color: var(--font-white);
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  background: transparent;
}

a, a:visited {
  text-decoration: none;
  color: var(--font-white);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s;
  transition: background-color 0s 600000s, color 0s 600000s;
}

/*--------------------Общие стили-------------------------*/
body {
  position: relative;
  background: var(--background-black);
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
}
body .gradient_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
body .gradient {
  pointer-events: none;
  position: absolute;
  z-index: 0;
}
body .gradient.green {
  opacity: 0.5;
  right: 71px;
  background: rgb(5, 150, 105);
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 768px) {
  body .gradient.green {
    width: calc(246.85px + 1450.355 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.green {
    width: calc(246.85px + 853.15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.green {
    height: calc(511px + -188.7 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.green {
    height: calc(511px + -111 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.green {
    top: calc(300px + -244.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.green {
    top: calc(300px + -144 * 0.0520833333vw);
  }
}
@media screen and (max-width: 768px) {
  body .gradient.green {
    opacity: 0.7;
    z-index: 3;
  }
}
body .gradient.blue {
  opacity: 0.5;
  background: rgb(147, 51, 234);
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 768px) {
  body .gradient.blue {
    width: calc(175.89px + 1060.987 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue {
    width: calc(175.89px + 624.11 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.blue {
    height: calc(364px + -210.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue {
    height: calc(364px + -124 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.blue {
    top: calc(132px + -120.7 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue {
    top: calc(132px + -71 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.blue {
    right: calc(46px + -44.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue {
    right: calc(46px + -26 * 0.0520833333vw);
  }
}
body .gradient.blue.small {
  z-index: 4;
}
@media (max-width: 768px) {
  body .gradient.blue.small {
    width: calc(107px + 668.1 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue.small {
    width: calc(107px + 393 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.blue.small {
    height: calc(221px + -73.1 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue.small {
    height: calc(221px + -43 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.blue.small {
    top: calc(7px + -68 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue.small {
    top: calc(7px + -40 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.blue.small {
    right: calc(17px + -113.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.blue.small {
    right: calc(17px + -67 * 0.0520833333vw);
  }
}
body .gradient.red {
  opacity: 1;
  width: 800px;
  height: 320px;
  top: 70px;
  right: -25%;
  background: rgb(225, 29, 72);
  border-radius: 50%;
  z-index: 3;
}
@media (max-width: 768px) {
  body .gradient.red {
    width: calc(228px + 1312.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.red {
    width: calc(228px + 772 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.red {
    height: calc(473px + -124.1 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.red {
    height: calc(473px + -73 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.red {
    top: calc(140px + -119 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.red {
    top: calc(140px + -70 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  body .gradient.red {
    right: calc(-130px + -1020 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  body .gradient.red {
    right: calc(-130px + -600 * 0.0520833333vw);
  }
}
@media screen and (max-width: 768px) {
  body .gradient.red {
    opacity: 0.8;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 768px) {
  .container {
    padding-left: calc(16px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: calc(16px + 24 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .container {
    padding-right: calc(16px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: calc(16px + 24 * 0.0520833333vw);
  }
}

.common_button {
  width: -moz-max-content;
  width: max-content;
  padding: 7px 15px;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
  background: var(--yellow);
  border-radius: 100px;
  border: 1px solid var(--yellow);
  font-weight: 500;
  text-align: center;
}
.common_button.full {
  width: 100%;
}

/*---------------------Общий класс для формы и сообщений------------------------*/
.main__form {
  width: 100%;
  min-width: 340px;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid rgb(89, 89, 89);
  background: var(--background-semi-black);
}
.main__form#success {
  display: none;
}
.main__form#error {
  display: none;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .form__title {
    line-height: calc(28px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .form__title {
    line-height: calc(28px + 4 * 0.0520833333vw);
  }
}

.form__message {
  color: var(--font-grey);
  margin-bottom: 29px;
}
@media (max-width: 768px) {
  .form__message {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .form__message {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .form__message {
    line-height: calc(22px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .form__message {
    line-height: calc(22px + 2 * 0.0520833333vw);
  }
}

/*---------------------Главный блок------------------------*/
.main_block {
  width: 100%;
  min-height: 50dvh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 48px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .main_block {
    -moz-column-gap: calc(20px + 34 * (100vw - 320px) / 1920);
         column-gap: calc(20px + 34 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block {
    -moz-column-gap: calc(20px + 20 * 0.0520833333vw);
         column-gap: calc(20px + 20 * 0.0520833333vw);
  }
}
.main_block .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main_block .description h1.main__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  width: -moz-min-content;
  width: min-content;
}
.main_block .description h2.salary {
  font-weight: 500;
}
@media (max-width: 768px) {
  .main_block .description h2.salary {
    font-size: calc(18px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description h2.salary {
    font-size: calc(18px + 6 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .description h2.salary {
    line-height: calc(28.8px + 5.44 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description h2.salary {
    line-height: calc(28.8px + 3.2 * 0.0520833333vw);
  }
}
.main_block .description .location__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main_block .description .location__block .location {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 4px 8px;
  width: -moz-max-content;
  width: max-content;
  background: var(--background-semi-white);
  white-space: nowrap;
}
@media (max-width: 768px) {
  .main_block .description .location__block .location {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .location__block .location {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .description .location__block .location {
    line-height: calc(22px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .location__block .location {
    line-height: calc(22px + 2 * 0.0520833333vw);
  }
}
.main_block .description .location__block .work__type {
  border-radius: 8px;
  padding: 4px 8px;
  width: -moz-max-content;
  width: max-content;
  background: var(--green);
  white-space: nowrap;
}
@media (max-width: 768px) {
  .main_block .description .location__block .work__type {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .location__block .work__type {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .description .location__block .work__type {
    line-height: calc(22px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .location__block .work__type {
    line-height: calc(22px + 2 * 0.0520833333vw);
  }
}
.main_block .description .info h3 {
  color: var(--font-grey);
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .main_block .description .info h3 {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .info h3 {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .description .info h3 {
    line-height: calc(22px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .info h3 {
    line-height: calc(22px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .description .info p {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .info p {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .description .info p {
    line-height: calc(22px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .description .info p {
    line-height: calc(22px + 2 * 0.0520833333vw);
  }
}
.main_block .form_container {
  flex: 1;
}
@media screen and (min-width: 768px) {
  .main_block .form_container {
    max-width: 400px;
  }
}
.main_block .form_container form.main__form .main__input {
  font-size: 14px;
  line-height: 22px;
  padding-right: 12px;
  padding-left: 12px;
  background: #F5F5F5;
  border-radius: 100px;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main_block .form_container form.main__form .main__input {
    padding-top: calc(10px + -8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .form_container form.main__form .main__input {
    padding-top: calc(10px + -5 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_block .form_container form.main__form .main__input {
    padding-bottom: calc(10px + -8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_block .form_container form.main__form .main__input {
    padding-bottom: calc(10px + -5 * 0.0520833333vw);
  }
}
.main_block .form_container form.main__form .main__input::-moz-placeholder {
  color: #8C8C8C;
  opacity: 1;
}
.main_block .form_container form.main__form .main__input::placeholder {
  color: #8C8C8C;
  opacity: 1;
}
.main_block .form_container form.main__form .approval__block {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--font-grey);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.main_block .form_container form.main__form .approval__block a {
  color: var(--font-grey);
  text-decoration: underline;
}

.about_us {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .about_us {
    gap: calc(32px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us {
    gap: calc(32px + 10 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_us {
    margin-bottom: calc(96px + -47.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us {
    margin-bottom: calc(96px + -28 * 0.0520833333vw);
  }
}
.about_us h3.about__title {
  font-weight: 500;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .about_us h3.about__title {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us h3.about__title {
    font-size: calc(20px + 4 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_us h3.about__title {
    line-height: calc(28px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us h3.about__title {
    line-height: calc(28px + 4 * 0.0520833333vw);
  }
}
.about_us p {
  font-size: 16px;
  color: var(--font-grey);
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .about_us p {
    line-height: calc(22.4px + 2.72 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us p {
    line-height: calc(22.4px + 1.6 * 0.0520833333vw);
  }
}
.about_us .team_block, .about_us .about_vacancy {
  width: 100%;
}
.about_us .team_block ul li, .about_us .about_vacancy ul li {
  position: relative;
  font-size: 16px;
  color: var(--font-grey);
}
@media (max-width: 768px) {
  .about_us .team_block ul li, .about_us .about_vacancy ul li {
    padding-left: calc(15px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us .team_block ul li, .about_us .about_vacancy ul li {
    padding-left: calc(15px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_us .team_block ul li, .about_us .about_vacancy ul li {
    line-height: calc(22.4px + 2.72 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us .team_block ul li, .about_us .about_vacancy ul li {
    line-height: calc(22.4px + 1.6 * 0.0520833333vw);
  }
}
.about_us .team_block ul li::before, .about_us .about_vacancy ul li::before {
  position: absolute;
  top: 9px;
  left: 14px;
  content: "";
  height: 3.5px;
  width: 3px;
  border-radius: 50%;
  background: var(--font-grey);
}
@media (max-width: 768px) {
  .about_us .team_block ul li::before, .about_us .about_vacancy ul li::before {
    left: calc(7px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us .team_block ul li::before, .about_us .about_vacancy ul li::before {
    left: calc(7px + 7 * 0.0520833333vw);
  }
}
.about_us .skills {
  width: 100%;
}
.about_us .skills .skills__flex {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.about_us .skills .skills__flex .skill__item {
  color: var(--font-black);
  padding: 0 8px;
  background-color: var(--background-white);
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .about_us .skills .skills__flex .skill__item {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us .skills .skills__flex .skill__item {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_us .skills .skills__flex .skill__item {
    line-height: calc(22px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_us .skills .skills__flex .skill__item {
    line-height: calc(22px + 2 * 0.0520833333vw);
  }
}
.about_us .common_button {
  align-self: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  footer {
    padding-bottom: calc(70px + -85 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  footer {
    padding-bottom: calc(70px + -50 * 0.0520833333vw);
  }
}
@media screen and (max-width: 700px) {
  footer {
    align-items: center;
  }
}
footer h4.policy {
  color: var(--font-grey);
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  footer h4.policy {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  footer h4.policy {
    font-size: calc(12px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  footer h4.policy {
    line-height: calc(14.52px + 12.716 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  footer h4.policy {
    line-height: calc(14.52px + 7.48 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  footer h4.policy {
    margin-bottom: calc(48px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  footer h4.policy {
    margin-bottom: calc(48px + 32 * 0.0520833333vw);
  }
}
footer .contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  row-gap: 42px;
}
footer .contacts .contacts__item {
  font-family: var(--inter-font);
  color: var(--footer-grey);
  font-size: 12px;
  line-height: 14.52px;
}
footer .contacts .contacts__item:nth-child(1) {
  max-width: 205px;
}
footer .contacts .contacts__item:nth-child(2) {
  max-width: 174px;
}
footer .contacts .contacts__item:nth-child(3) {
  max-width: 170px;
}
footer .contacts .contacts__item span {
  white-space: nowrap;
}
@media screen and (max-width: 700px) {
  footer .contacts {
    flex-direction: column;
    align-items: center;
  }
  footer .contacts .contacts__item {
    text-align: center;
  }
}
footer .policy__description {
  font-family: var(--inter-font);
  color: var(--footer-grey);
  font-size: 12px;
  line-height: 14.52px;
}
@media screen and (max-width: 700px) {
  footer .policy__description {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */